
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .btn-social :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .btn-social.btn-lg {
        padding-left: 61px;
    }

        .btn-social.btn-lg :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em;
        }

    .btn-social.btn-sm {
        padding-left: 38px;
    }

        .btn-social.btn-sm :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em;
        }

    .btn-social.btn-xs {
        padding-left: 30px;
    }

        .btn-social.btn-xs :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em;
        }



.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

    .btn-facebook:hover {
        color: #fff;
        background-color: #30487b;
        border-color: rgba(0, 0, 0, 0.2);
    }
